<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">

        <div class="row">



            <h1><%= moviesId[i].title %></h1>
            Year released: <%= moviesId[i].released %><br>
            Rated: <%= moviesId[i].rated %><br>
            Genre: <%= moviesId[i].genre %><br>
            Directed by: <%= moviesId[i].director %><br>
            Cast: <%= moviesId[i].actors %><br>
            Runtime: <%= moviesId[i].runtime %><br>
            <p><%= moviesId[i].plot %></p>
            <a href="/">Back to index</a>
        </div>
    </div>
  </body>
</html>

     