<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <h1>Hello movies!</h1>
        </div>

        <% if (movieList) { %>
            <div class="row">
                <h1><%= movieList.title %></h1>
                    <p>
                        Release Date: <%= movieList.release_date %><br>
                        Vote average: <%= movieList.vote_average %><br>
                        Synopsis: <%= movieList.overview %><br>
                        <img src='https://image.tmdb.org/t/p/w500/<%= movieList.backdrop_path %>'/>
                    </p>
            </div>
        <% } else { %>
            Movie not found in current list
        <% } %>
        <br>
        <a href='/'>Back to index</a>
        <br>
        <form action='/search' method='GET'>
            <input name='searchTerm' />
            <button type='submit'>Search</button>
        </form>
    
    </div>
  </body>
</html>